*{
    padding: 0;
    margin: 0;
}

section{
    padding: 60px 0px;
}

.hero-section{
    height: 100vh;
    width: 100%;
    background: url(/kelly-sikkema-ReD-4a7LWoc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.overlay{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.hero-content{
    position: relative;
}

.logo-img img{
    width: 150px;
    height: auto;
}

footer{
    width: 100%;
    height: 50px;
    line-height: 50PX;
}